<style></style>
<nav class="navbar navbar-expand-lg navbar-light bg-light w-100 mb-5">
  <div class="container justify-content-between text-center">
      <ul class="navbar-nav mx-auto text-center">
      <li class="nav-item align-middle" style="width: 180px;">
        <a class="nav-link align-middle my-2 mx-5<%= page_name == 'login' ? 'active' : '' %> link-primary" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a style="width: 60px;" class="d-inline-block text-center" href="/"><img src="logoTwo.gif" class="card-img-top rounded-circle mx-auto" alt="...">
        </a>
      </li>
    </ul>
  </div>
</nav>