<%- include('./partials/head') %>
<%- include('./partials/header', {page_name:'about'}) %>
<style>
    .container {
        padding-left: 150px !important;
        padding-right: 150px !important;
        }
</style>
<body style="
min-height: 100vh; 
display: flex;
flex-direction: column;">
</body>
<%- include('./partials/footer') %>